{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container-fluid login-container vh-100">
        <div class="row vh-100 align-items-center">
            <div class="col-md-4 offset-md-4 card card-body text-center">
                <h2 class="mb-4">Ingresar al sitio</h2>
                <form id="form-login" method="POST" class="">
                    {% csrf_token %}
                    <div class="mb-4">{{form.username}}</div>
                    <div class="mb-4">{{form.password}}</div>
                    <div class="mb-4"><button type="submit" class="btn button">Ingresar</button></div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>