{% extends 'gestion.html' %}
{% block title %} <h4>GESTIÓN DE DOCENTES</h4> {% endblock %}
{% block content %}
<div class="container-fluid card card-body align-items-center">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-12 text-center table-responsive-lg">
            <h4 class="encabezado-tabla text-white">Agregar docente</h4>
            <form method="POST">
                <table class="table table-striped text-center">
                    {{docenteForm}}
                </table>
                <button class="btn form-button button" type="submit">
                    Agregar
                </button>
                <a href="{% url 'docentes' %}" class="btn form-button button">Volver al inicio</a>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
{% endblock %}