{% extends 'gestion.html' %}

{% block title %} <h4>GESTIÓN DE ALUMNOS</h4> {% endblock %}

{% block content %}

<div class="container-fluid card card-body">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h4 class="text-white text-center encabezado-tabla">Alumnos</h4>
        </div>
        <div class="col-md-6">
            <form method="get" class="d-flex align-items-center justify-content-end">
                {{alumnos.form}}
                <button class="btn btn-sm ms-2 button" type="submit">Filtrar</button>
            </form>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-md-12 table-responsive-lg">
            <table id='tablaAsignaturas' class="display table table-striped" style="width: 100%;">
                <thead>
                    <tr>
                        <td>Nombre</td>
                        <td>Documento</td>
                        <td>Nacimiento</td>
                        <td>Curso</td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {% for alumno in alumnos.qs %}
                    <tr>
                        <td>{{alumno.nombre}} {{alumno.apellido}}</td>
                        <td>{{alumno.documento}}</td>
                        <td>{{alumno.fecha_nacimiento}}</td>
                        <td>{{alumno.curso}}</td>
                        <td>
                            <a class="btn button" href="{% url 'editar_alumno' alumno.id %}">Editar</a>
                        </td>
                        <td>
                            <a type="button" class="btn button"
                                href="{% url 'eliminar_alumno' alumno.id %}">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a class=" button btn" href="{% url 'agregar_alumno'%}">Agregar</a>
    </div>
    {% endblock %}